* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    position: relative;
    width: 1280px;
    max-height: auto;
}

header {
    background-color: rgb(85, 85, 239);
    padding: 1px;
    color: white;
    height: 100%;
    font-size: 3.5rem;
    display: inline-block
}

.headers {
    display: inline;
    color: rgb(21, 187, 2);
    text-shadow: 3px 1px rgb(67, 44, 44);
}


.headers ul:hover {
    color: rgb(203, 16, 94);
    pointer-events: visible;
}

figure h3 {
    background-color: rgb(18, 11, 160);
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    width: 20%;
    padding: 25px  20px;
    flex-wrap: wrap;
}

figure img {
    float: left;
    padding: 35px 0 0 30px;
}

figure p{
    line-height: 2.5rem;
    flex-wrap: wrap;
    margin-left: 50px 45px;
    padding: 10%;

}

figcaption {
   /* background-color: aquamarine; */
   font-size: 1.5rem;
   text-align: left;
   margin-top: 20px;
}


ul li {
    display: inline;
}
ul li:hover {
    color: rgb(247, 73, 10);
    background-color: rgb(245, 221, 7);
}

footer {
    color: white;
    background-color: rgb(85, 85, 239);
    font-size: 1.5rem;
    font-style: oblique;
    display: inline-block;
    flex-direction: column;
    width: 100%; 
}
footer p:first-child{
    color: red;
    display: inline-block;
    text-align: left;
    padding: 10px;
    padding-left: 50px;
}
footer p:last-child{
    color: rgb(239, 247, 12);
    display: inline-block;
    text-align: right;
    padding: 10px;
    padding-right: 50px;
}
