@media screen and (max-width: 980px) {
    header {
        width: 100%;
    }
    header h1 {
        color: #b103ba;
        text-align: center;
    }
    header nav {
        display: flex;
        flex-direction: column;
    }
    header nav ul li a {
        font-size: 2.5vw;
    }
    .content{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    
    .port {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
    }
    header h1 {
        color: #06ba03;
        text-align: center;
    }

    header nav ul li a {
        font-size: 2.5vw;
    }
    
    .content{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .port {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    header {
        width: 100%;
    }
    header h1 {
        color: #f2f3f9;
        text-align: center; 
    }
    header nav ul li a {
        font-size: 4.5vw;
    }
    
    .port {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .content {
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .content img {
        width: 100%;
        justify-content: center;
    }
    .assignment {
        display: block;
    }
    .assignment img {
        width: 100%;
        margin: 30px 0;
    }
    .public {
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}